.log_err {
	color: red;
}
.log_ok {
	color: green;
}
.in_code {
	display: inline-block;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background: #eeeeee;
	border: 1px solid #cccccc;
	font-family: Courier, "Lucida Console", monospace;
}
.in_code_line {
	display: block;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	background: #eeeeee;
	border: 1px solid #cccccc;
	font-family: courier;
}

.in_code_dark {
	display: inline-block;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background: #222222;
	border: 1px solid #555555;
	font-family: Courier, "Lucida Console", monospace;
        color: white;
}

.txtWrap {
	display: inline-block;
	width: 500px;
	height: 380px;
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
	padding-bottom: 10px;
}

.txtWrap>textarea {
	width: 495px;
	height: 340px;
	padding-left: 5px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: -10px;
	outline: none;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid black;
	background: #fafafa;
	font-family: courier;
	resize: none;
}

.txtDescr {
	margin-left: -4px;
	padding-left: 5px;
	display: block;
	padding-bottom: 10px;
	vertical-align: top;
	display: inline-block;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 500px;
	height: 380px;
	padding-bottom: 10px;
}

.txtDescrTxt {
	display: inline-block;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 8px;
}

.txtDescrName {
	display: block;
	width: 100%;
	height: 32px;
	background: #daffff;
	text-align: center;
	font-family: tahoma;
	font-size: 20pt;
	border-bottom: 1px solid black;
}

.txtDescrNameSolution {
	background: #ffddcc;
}

.pnlControls {
	display: block;
	height: 80px;
	padding-left: 4px;
}

.pnlControls>button {
	width: 150px;
	height: 28px;
}

.txtTest {
	display: block;
	padding-bottom: 80px;
}

.txtTest .txtTestLbl {
	width: 1484px;
	background: #eeeeee;
	display: block;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 0px;
	font-family: tahoma;
	font-size: 20pt;
	text-align: left;
	padding-left: 20px;
	padding-top: 5px;
}

.loader {
	position: fixed;
	left:calc(50% - 120px);
	top:calc(50% - 80px);
	width: 120px;
	border: 5px solid green;
	padding: 80px;
}

.loader_black {
	color: white;
}

.loader_error {
	position: fixed;
	left:calc(50% - 240px);
	top:calc(50% - 80px);
	width: 240px;
	border: 5px solid red;
	padding: 80px;
}

.txtHeader {
	height: 30px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	background: #efefef;
	position:absolute;
	top: 0px;
	right:0px;
	padding:7px;
	font-family: verdana;
	font-size: 10pt;
}






.w0 {
	top: 70px;
	left: 10%;
	display: inline-block;
	position: relative;
	width: 80%;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 50px;
	min-width: 810px;
}

.w00 {
	display: block;
	position: absolute;
	height: 50px;
	left: 0px;
	padding-left: 10px;
	right: 0px;
	border-top:1px solid black;
	border-bottom:1px solid black;
	background: #eeeeee;
	font-family: tahoma;
	font-size: 20pt;
	text-align: left;
	line-height: 50px;
}

button {
	font-family: Tahoma;
	font-size: 11pt;
}

.w001 {
	display: inline-block;
}

.w002 {
	position: relative;
	display: inline-block;
	float:right;
	margin-right: 13px;
	margin-bottom:20px;
}

.w002 > Button {
	position: relative;
	top: -2px;
	vertical-align: middle;
	width: 80px;
	height: 30px;
	line-height: normal;
}

.w1 {
	display: table;
	min-width: 100%;
	position: relative;
	top: 50px;
	border-top: 1px solid black;
	margin-bottom: 50px;
	font-family: tahoma 12pt;
	min-height: 200px;
}

.w11 {
	position: relative;
	display: table-cell;
	min-height: 200px;
	min-width: 250px;
	background: #fafafa;
}

.w111 {
	top: 0px;
	position: absolute;
	display: block;
	resize: none;
	outline: none;
	border: none;
	background: transparent;
	padding: 5px;
	font-family: courier;
}

.w112 {
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
	height: 40px;
	border-top: 1px solid black;
}

.w112 > Button{
	display: inline-block;
	width: 150px;
	height: 28px;
	margin-top: 5px;
	margin-left: 5px;
}

.w1121{
	display: inline-block;
	position: relative;
	left: 20px;
	color: red;
}


.w12 {
	position: relative;
	display: table-cell;
	min-width: 200px;
	max-width: 400px;
	min-height: 100%;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.w121 {
	position: absolute;
	display: block;
	top: 0px;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid black;
	background: #daffff;
	text-align: center;
	line-height: 40px;
	font-family: tahoma;
	font-size: 20pt;
}

.w122 {
	margin-top: 40px;
	display: block;
	height: 100%;
	max-width: 100%;
	padding: 5px;
}

.w13 {
	position: relative;
	display: table-cell;
	min-width: 200px;
	height: 100%;
}

.w131 {
	position: absolute;
	display: block;
	top: 0px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid black;
	background: #ffddcc;
	text-align: center;
	font-family: tahoma;
	font-size: 20pt;
}

.w132 {
	position: absolute;
	display: block;
	top: 40px;
	bottom: 0px;
	width: 100%;
	padding: 5px;
}

body {
	margin: 0px;
	padding: 0px;
	background: white;
	color: black;
}
.pnlWarn {
	display: inline-block;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right: 3px solid #520e4e;
	border-bottom : 3px solid #520e4e;
	background-color: #bf3fb9;
	font-family: Tahoma;
	font-size: 18pt;
}

.stats {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.faq_contents {
	padding-top: 80px;
	padding-left: 80px;
	color: white;
	font-size: 13pt;
	font-family: Tahoma;
}

.btnCloseStats {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	background: black;
	border: 1px solid white;
	color: white;
	padding: 3px;
	font-size: 13pt;
	padding-left: 50px;
	padding-right: 50px;
	display: block;
}

.term_table_w0 {
	margin-left: 10%;
	width: 80%;
	display: inline-block;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	min-width: 810px;
	margin-bottom: 70px;
}

.term_table_w00 {
	display: block;
	left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	right: 0px;
	border-top:1px solid black;
	border-bottom:1px solid black;
	background: #eeeeee;
	font-family: tahoma;
	font-size: 20pt;
	text-align: left;
}

.term_table_w001 {
	display: inline-block;
}

.term_table_w002 {
	display: inline-block;
	float:right;
}

.term_table_w002 > Button {
	position: relative;
	top: -2px;
	vertical-align: middle;
	min-width: 80px;
	height: 30px;
	line-height: normal;
	margin-left: 10px;
}

.term_adm_var_title {
	background: #ddffee;
}

.term_adm_var_tr:first-child {
	background: #ffffff;
}
.term_adm_var_tr:nth-child(2n+3) {
	background: #f4f4f4;
}

.term_table Button {
	vertical-align: middle;
	width: 120px;
	height: 27px;
	line-height: normal;
	margin-top: 4px;
	margin-bottom: 4px;
}

.term_table_w1 {
	display: table;
	min-width: 100%;
	font-family: tahoma 12pt;
	min-height: 200px;
}

.term_table_w12 {
	display: table-cell;
	width:50%;
	min-height: 200px;
	border-right: 1px solid black;
}

.term_table_w121 {
	background: #daffff;
	border-bottom: 1px solid black;
	text-align: center;
	font-family: tahoma;
	font-size: 20pt;
	padding-top: 4px;
	padding-bottom: 4px;
	
}

.term_table_w122 {
padding: 5px;
}

.term_table_w13 {
	display: table-cell;
	width: 50%;
	min-width: 500px;
}

.term_table_w131 {
	background: #ffddcc;
	border-bottom: 1px solid black;
	text-align: center;
	font-family: tahoma;
	font-size: 20pt;
	padding-top: 4px;
	padding-bottom: 4px;
}

.term_table_w132 {
}

.term_table {
    border-collapse:collapse;
    border: 1px solid black;
    border-bottom: 2px solid black;
    width: 100%;
}

.term_table tr > th {
	font-size: 14pt;
	font-family: Verdana;
	padding-left: 10px;
	padding-right: 10px;
	border:2px solid black;
}

.term_table tr {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.term_table .term_table_logged {
	display: block;
	color: green;
}

.term_table tr > td {
    text-align: center;
    border: 1px solid black;
	font-family: Tahoma;
}

.term_table_waiter {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	background: #00000088;
	width: 100%;
	height: 100%;
	text-align: center;
}
.ex_root > table {
	width: 1024px;
	height: 40px;
	margin-left: calc(50% - 512px);
	border: 3px solid black;
}

.ex_root .ex_table {
	border-collapse: collapse;
}

.ex_root .ex_table2 {
	width: 1024px;
	margin: 0px;
	padding: 0px;
}

.ex_root .ex_table .ex_table2_wrapper_cell {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.ex_root .ex_table > thead > tr > .hheader {
   background-color: #ededed;
}

.ex_root .ex_table > thead > tr > .leftBorder {
	border-left: 3px solid black;
	width: 160px;
}

.ex_root .ex_table2 .pnl_evaluation_col3 input {
	width: calc(100% - 20px);
	outline: none;
	border: 0px;
	font-family: Courier;
	font-size: 13pt;
}

.ex_root .ex_table2 .pnl_evaluation_col3 textarea {
	width: calc(100% - 20px);
	outline: none;
	resize: vertical;
	height: 80px;
	border: 0px;
	font-family: Courier;
	font-size: 13pt;
}

.ex_root button {
	display: inline-block;
	width: 120px;
	height: 32px;
	margin-right: 10px;
}

.ex_root .ex_table > thead > tr > th, .ex_root .ex_table > thead > tr > td {
	padding-top: 10px;
	padding-bottom: 10px;
    border-bottom: 3px solid black;
}
.ex_root .ex_table > thead > tr > .hcol1 {
	border-right: 2px solid black;
	width: 250px;
	text-align: right;
	padding-right: 20px;
}
.ex_root .ex_table > thead > tr > .hcolR {
	width: 160px;
}

.ex_root .ex_table > thead > tr > .hcol2 {
	padding-left: 10px;
	font-family: Courier;
}

.ex_root {
   font-family: Verdana;
   font-size: 13pt;
}

.ex_root .ex_table > thead > tr > .pnl_question, .ex_root .ex_table > tbody > tr > .pnl_response_col1 {
	padding: 10px;
	text-align: left;
	width: 80px;
	vertical-align: top;
}

.ex_root .ex_table .pnl_evaluation {
	border-right: 3px solid black;
	vertical-align: middle !important;
	padding-left: 20px;
	padding-right: 20px;
	width: 100px;
}

.ex_root .ex_table .pnl_evaluation_col2 {
	padding-left: 10px;
	vertical-align: top;
	padding-right: 10px;
	border-right: 3px solid black;
	text-align: right;
	width: 200px;
}

.ex_root .ex_table .pnl_evaluation_col3 {
	padding-left: 10px;
}

.ex_root .ex_table > tbody > tr > .pnl_response > div input {
	margin-bottom: 10px;
}

.ex_root .ex_table > tbody > tr > .pnl_response > div span {
   	display: inline-block;
   	position: relative;
   	top: -2px;
   	margin-left: 5px;
}

.ex_root .ex_table > tbody > tr > .pnl_response input[type=text] {
	width: calc(100% - 20px);
	outline: none;
	padding: 5px;
	margin-bottom: 5px;
	border-left: 1px solid black;
	border-top: none;
	border-right: none;
	border-bottom: none;
	font-family: Courier;
	font-size: 13pt;
}

.ex_root .ex_table > tbody > tr > .pnl_response textarea {
	resize: vertical;
	min-height: 60px;
	width: calc(100% - 50px);
	outline: none;
	border: 0px;
	border-left: 1px solid black;
	font-family: courier;
	font-size: 13pt;
}

.ex_root .ex_table > tbody > tr > .pnl_response > textarea {
	min-height: 150px;
	resize: vertical;
	width: calc(100% - 10px);
	outline: none;
	border: 0px;
	border-left: 1px solid black;
	font-family: courier;
	font-size: 13pt;
}

window.inject("WEB.ADMIN", "admin.css");